name: Code Coverage

on:
  push:
    branches: [ main ]
    paths-ignore:
    - '**.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
    - '**.md'

jobs:
  build-test-report:
    runs-on: ubuntu-latest
    env:
      OS: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup .NET Core 7.0.x
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    - name: Run Test
      run: dotnet test --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

    - uses: codecov/codecov-action@v3.1.2
      with:
        env_vars: OS
        name: Code Coverage for ${{ matrix.os }}
        fail_ci_if_error: true
        verbose: true
